@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  font-family: 'proxima-nova';
  color: #d9d9d9;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, rgba(24, 25, 27, 0.7), rgba(24, 25, 27, 0.7)), url(https://res.cloudinary.com/cornelia-schulz-photography/image/upload/v1654638588/Cornelia%20Schulz%20Photography/Forest%20Walk.jpg);
  background-size: cover;
  position: relative;
}

h1, h2, h3 {
  font-family: 'cinzel-decorative';
}

main {
  height: 100%;
}

@font-face {
  font-family: 'cinzel-decorative';
  src: url('/fonts/CinzelDecorative-Regular.ttf');
}

@layer base {
  .main-image {
    border: 8px solid #d9d9d9 !important;
  }  
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
  position: fixed;
}

